:root {
    --accent-color: #4d5ae5;
    --title-color: #2e2f42;
    --main-text-color: #434455;
    --accent-light-color: #ffffff;
    }

body {
  font-family: "Roboto", sans-serif;
  color: var(--title-color);
  font-weight: 700;
}

/*-------- HEDER -------- */

.link {
  text-decoration: none;
}

.logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}
.logo-web {
  color: var(--accent-color);
}

.menu-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.contact-mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.contact-number {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.contact-number:hover,
.contact-number:focus {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.contact-mail:hover,
.contact-mail:focus {
  color: var(--accent-color);
}

/* ------- HERO -------- */

.hero {
  background: var(--title-color);
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-light-color);
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.04em;
  color: var(--accent-light-color);
  background: var(--accent-color);
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background: #404BBF;
}

/* ------- Section 1 Description ------- */

.description {
}
.main-description {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.block-description {
}
.text-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

/* <!----- Section 2 What are we doing -----> */

.function {
}
.fuction-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
}
.functin-list {
}
.function-description {
}

/* ------- Section 3  Our Team -------- */

.team {
  background: #F4F4FD;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
}
.team-list {
}
.team-block {
  background: var(--accent-light-color);
}
.team-name {
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.team-post {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

/* ----------- FOOTER ---------- */

.footer {
  background: var(--title-color);
}
.logo-footer {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}

/* ================ PORTFOLIO =============== */

.filter {
}
.filter-title {
}
.filter-list {
}
.filter-item {
}
.filter-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  cursor: pointer;
}
.filter-btn:hover,
.filter-btn:focus {
  background: var(--accent-color);
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--accent-light-color);
}

/* ----------- GALLERY ---------- */

.gallery-list {
}
.gallery-item {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.gallery-title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.gallery-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
